.container {
  max-width: 1200px;
  margin: 0px auto;
}


.companies {
  display: flex;
  justify-content: space-between;
  margin-top: 4.2rem;
}

.company-name {
  margin: 4rem 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: grey;
}
