.container {
  max-width: 1200px;
  margin: 0px auto;
}

.explore {
  display: flex;
  margin-top: 3.2rem;
}

.explore-image {
  display: flex;
}

.explore-text {
  font-size: 2rem;
  font-weight: 600;
  color: #fb5607;
  margin-right: 2rem;
}

.explore-image img {
  height: 24rem;
  width: 20rem;
  border-radius: 10px;
  object-fit: cover;
  background-position: center;
  margin-right: 1rem;
}

.explore-btn {
  float: right;
  margin-right: 1.5rem;
}
